:root {
  --first-text-color: #333333;
  --second-text-color: #ffffff;
  --first-bgc: #ffffff;
  --second-bgc: #f4f4f4;
  --accent-color: #28a745;
  --hero-color-text: #e9e9e9;
}

body {
  color: var(--first-text-color);
  background-color: var(--first-bgc);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.56;
  font-size: 18px;
}

h1,
h2,
h3,
p {
  font-weight: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1360px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}

/* ======= Navigation ====== */

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.nav {
  background-color: var(--first-text-color);
  background-image: url('../images/hero-bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1360px;

  padding-top: 12px;
  padding-bottom: 284px;
}

.logo-link {
  color: var(--second-text-color);
  font-size: 35px;
  line-height: 1.21;
  text-transform: capitalize;
}

.header-page {
  padding-left: 22px;
  padding-right: 22px;
}

.site-nav-link {
  color: var(--second-text-color);
}

.hero-content {
  display: block;
  text-align: center;

  padding-top: 225px;
}

.hero-title {
  color: var(--hero-color-text);
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-transform: capitalize;

  margin-bottom: 25px;
}

.hero-text {
  color: var(--hero-color-text);
  font-size: 22px;
  line-height: 1.67;
  text-align: center;

  margin-bottom: 29px;
}

.hero-btn {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;

  border-radius: 5px;
  padding: 10px 30px;
}
/* ======= Navigation ====== */

/* ====== Section 2 ====== */

.about {
  background-color: var(--second-bgc);
  border-radius: 0px;
}
.about-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.about-item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--first-text-color);
  margin-bottom: 16px;
  margin-top: 15px;
}

.about-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: center;
  color: var(--first-text-color);
  padding-bottom: 19px;
}

.about-list {
  display: flex;
  justify-content: space-around;
}

.about-list-element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 362px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 40px;
}

/* ====== Section 2 ====== */

/* ====== Section 3 ====== */

.why-us {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}
.why-us .title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
.why-us .title-small {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}
.button-read-more {
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
}

/* ====== Section 3 ====== */

/* ====== Section 4 ====== */

.cases-top-title {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 15px;
}

.cases-title {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 34px;
}

.cases-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 39px;
}

.cases-list {
  margin-top: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.cases-list-item {
  flex-basis: calc((1360px-24px) / 4);
}

/* ====== Section 4 ====== */

/* ====== Section 5 ====== */
.container.post-flex {
  padding-left: 0;
  padding-right: 0;
}

.post {
  background-color: #0284d0;
  color: var(--second-text-color);
}

.post-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-transform: capitalize;
}

.post-title-little {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
}

.post-text {
  font-size: 18px;
  line-height: 1.56;
}

.post-btn {
  font-size: 18px;
  line-height: 1.56;
  background-color: transparent;
  color: var(--second-text-color);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: capitalize;
}
.post-flex {
  display: flex;
}
.content-box {
  padding: 105px 30px;

  background-color: #0284d0;
}
.post {
  background-color: #ffffff;
  color: var(--second-text-color);
}
.post-title-little {
  display: block;
  margin-bottom: 5px;
}
.post-title {
  margin-bottom: 26px;
}
.post-text {
  margin-bottom: 30px;
}
.post-btn {
  padding: 10px 40px;
}
/* ====== Section 5 ====== */

/* ====== Section 6 ====== */

.team {
  padding-top: 55px;
  padding-bottom: 55px;
}

.team-top-title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  text-align: center;

  margin-bottom: 16px;
}
.team-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  text-align: center;

  margin-bottom: 34px;
}

.team-text {
  font-size: 18px;
  text-align: center;

  margin-bottom: 45px;
}

.our-team {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.member-card {
  flex-basis: calc((100% - 30px) / 3);
}
.photo-card {
  margin-bottom: 12px;
}
.member-name {
  color: var(--first-text-color);
  text-align: center;
  font-size: 25px;
  line-height: 1.27;

  margin-bottom: 12px;
}
.member-position {
  color: var(--first-text-color);
  text-align: center;
  font-size: 18px;
}

.team-social-web {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;

  opacity: 0;

  transition: opacity 250ms linear;
}

.thumb:hover .team-social-web,
.thumb:focus .team-social-web {
  opacity: 1;
}

.thumb {
  position: relative;
}

.photo-card {
  transform: scale(1);
  transition: transform 250ms linear;
}

.thumb:hover .photo-card,
.thumb:focus .photo-card {
  transform: scale(1.02);
}

/* ====== Section 6 ====== */

/* ====== Section 7 ====== */

.action {
  color: var(--first-text-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.confirm-form-send {
  color: var(--second-text-color);

  font-family: inherit;
  font-size: 18px;
  line-height: 1.38;
  background: #28a745;
  border-radius: 5px;
}

.confirm-form-send:hover,
.confirm-form-send:focus {
  background-color: #1b5d2a;
}
.call-back {
  background-color: var(--second-bgc);
}

.call-back-form {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.action {
  margin-bottom: 40px;
  color: var(--first-text-color);
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: 36px;

  margin-bottom: 60px;
}

.form-input-par {
  padding-left: 5px;

  background: var(--first-bgc);
  border: 1px solid var(--second-bgc);
  border-radius: 0px;

  color: #808080;
  font-size: 18px;
  line-height: 1, 55;
}

.confirm-form-send {
  max-width: 620px;
  max-height: 64px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 291px;
  padding-right: 277px;

  color: var(--second-text-color);

  font-family: inherit;
  font-size: 18px;
  line-height: 1.38;
  background: var(--accent-color);
  border-radius: 5px;
}

.confirm-form-send:hover,
.confirm-form-send:focus {
  background-color: #1b5d2a;
}

/* ====== Section 7 ====== */

/* ====== Footer ====== */

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--first-text-color);
}

.footer-social-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
  gap: 25px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-coprt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--first-bgc);
  padding-bottom: 16px;
}

/* ====== Footer ====== */
